 /* h1::before{
    content: attr(data-text);
    position: absolute;
    
    color: blue;
    -webkit-text-stroke: 0% #333;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6% linear infinite;

}
@keyframes animate {
    0% ,10% ,100%{
        width: 0;
    }
    70%,90%{
        width: 0;
    }
} */
/* <!-- <i id="buttonbar" class="fa-solid fa-bars text-4xl text- text-gray-500  sm:hidden   absolute right-2"></i> -->
        <div class="flex text-white ">
            <ul class="flex gap-5 hidden sm:block sm:flex sm:text-2xl  text-white">

                <li class="hover:underline hover:text-[#7D3C98] cursor:pointer"> <a href="/pages/Shop.html">Shop</a></li>
              <li class="hover:underline hover:text-[#7D3C98] cursor:pointer"> <a href="/pages/Collection.html">Collection</a></li>
                <li class="hover:underline hover:text-[#7D3C98] cursor:pointer"> <a href="/pages/About.html">About Us</a></li>
                  <li class="hover:underline hover:text-[#7D3C98] cursor:pointer"> <a href="/pages/Service.html">Contact</a></li>
                  <!-- <button class="bg-purple-500 text-white px-3 rounded-full">Signup</button> -->
            </ul>
           
        </div> */


        header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background: #fff;
            padding: 2rem 2%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 1000;
            box-shadow: 0 .5rem 1 rem rgba(0,0,0,.1);
        }
        header .logo {
            font-size: 3rem;
            color: #333;
            font-weight: bolder;
        
        
        }
        header .logo span{
            color:var(--pink);
        }
        header .navbar a{
            font-size: 2rem;
            padding: 0  1.5rem;
            color: #666;
        }
        header .navbar a:hover{
            color:var(--pink);
        }
        header .icons a {
            font-size: 3rem;
            color: #333;
            margin-left: 1.5rem;
        }
        header .icons a:hover { 
            color:var(--pink);
        }
        header #toggler{
            display: none;
        }
        header .fa-bars{
            font-size: 3rem;
            color: #333;
            border-radius: .5rem;
            padding: .5rem 1.5rem;
            cursor: pointer;
            border: 1rem solid rgba(0,0,0,.3);
            display: none;
        }
        .heading{
            text-align: center;
            font-size: 4rem;
            color: #333;
            padding: 1rem;
            margin: 2rem;
            background: rgba(255,51,153,.05);
        
        }
        .heading span{
            color: var(--pink);
        }
        .btn{
            display: inline-block;
            margin-top: 1rem;
            border-radius: 5rem;
            background: #333;
            color: #fff;
            padding: .9rem 3.5rem;
            cursor: pointer;
            font-size: 1.7rem;
        }
        .btn:hover{
            background: var(--pink);
        }
        header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background: #fff;
            padding: 2rem 2%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 1000;
            box-shadow: 0 .5rem 1 rem rgba(0,0,0,.1);
        }
        header .logo {
            font-size: 3rem;
            color: #333;
            font-weight: bolder;
        
        
        }
        header .logo span{
            color:var(--pink);
        }
        header .navbar a{
            font-size: 2rem;
            padding: 0  1.5rem;
            color: #666;
        }
        header .navbar a:hover{
            color:var(--pink);
        }
        header .icons a {
            font-size: 3rem;
            color: #333;
            margin-left: 1.5rem;
        }
        header .icons a:hover { 
            color:var(--pink);
        }
        header #toggler{
            display: none;
        }
        header .fa-bars{
            font-size: 3rem;
            color: #333;
            border-radius: .5rem;
            padding: .5rem 1.5rem;
            cursor: pointer;
            border: 1rem solid rgba(0,0,0,.3);
            display: none;
        }
        res     header{
            padding: 2rem;
          }
          @media (max-width:768px){
            header .navbar{
                position: absolute;
                top: 100%;  left: 0;  right: 0;
                background: #eee;
                border-top: 1rem solid rgba(0,0,0,.1);
                clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
            }
            
            header #toggler:checked ~ .navbar{
                clip-path: polygon(0 0,100% 0, 100% 100%, 0% 100%);
         
            }
            header .navbar a{
                margin: 1.5rem;
                padding: 1.5rem;
                background: #fff;
                border: 1rem solid rgb(0,0,0,.1);
                display: block;
            }
          }